*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 100%;
    background-color:white;



}
nav{
    margin: auto;
    display: flex;

    padding: 25px;
    height: 60px;
    


}
nav img{
    width: 110px;
   height: 25px;
  



}

ul{
    

    display: flex;
    margin-left: 25px;
    




}
#home:hover , #about:hover{
    color: blueviolet;



}



ul li{
    list-style: none;
    padding-left: 40px;
    padding-top: 4px;
    color: #262626;



}
ul li:hover{
    text-decoration: underline;
}
/*button{
    position: relative;
    left: 110px;
    bottom: 3px;
    font-weight: 700;
    font-size: 15px;
    height: 30px;
    width: 66px;
    background-color: pink;
    color:purple;
    border: 2px solid orangered;
    transition: all ease 0.1s;



}
button:hover{
    background-color: black;
    color: aliceblue;

}*/

nav .nav-2{
    position: relative;
    left: 170px;
    margin: 0 150px;


}
main{
width: 100%;
height: 100%;
}
#main-section
{
    background-image: url(section_img.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    height: 100vh;
}
.main-heading{
    position: relative;
    top: 30%;
    left: 18%;
}
.main-heading h2{
    color: #0067B8;
    
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
   
}
.main-heading p{
      width: 20%;
      margin-bottom: 20px;
      color: aliceblue;
      
      
}
.main-heading button{
    width: 120px;
    height: 40px;
    background-color: #0067B8;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 800;
}


/*media qury*/
@media screen and (max-width:770px){
    .main-heading h2{
        color: azure;
    }
    .main-heading p{
        font-size: 30px;
        width: 60%;
    }
    .main-heading button{
        width:30%;
        height: 40px;
    }
}
@media screen and (max-width:300px){
    .main-heading h2{
        color: rgba(216, 22, 38, 0.788);
    }
    .main-heading p{
        font-size: 30px;
        width: 60%;
    }
    .main-heading button{
        width:30%;
        height: 40px;
    }
}

/*Main BOx area*/
#main-box{
    
    width:100%;
    padding: 60px 0;

}
.box-section{
  
    width: 88%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
    
}

.box{
    flex-basis: 20%;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 8px 8px 10px #00968814;
    cursor: pointer;
    transition: transform .5s;
}
.box-inner{
    align-items: center;
    margin: 20px 0;
}
.box:hover{
    transform: translateY(-7px);
}
.box-inner img{
    width: 100%;
    border-radius: 3px;
    margin-bottom: 20px;
}
.box-inner h2{
    margin-bottom: 20px;
}
.box-inner p{
    margin-bottom: 20px;
}
.box-inner button{
    width: 120px;
    height: 30px;
    background-color: #0067B8;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-size: 12px;
    font-weight: 600;
}
